@import "./css/customizeBulma.css";
@import "./css/customizeMobile.css";
@import "./css/highlight.css";

/* 设置导航栏激活后样式 */
a.navbar-item.is-active, a.navbar-link.is-active {
  color: #3273dc;
}

/* 设置github iframe居中 */
#iframe {
  margin-bottom: -5px;
  margin-left: 5px;
}

/* 设置github icon 颜色 */
.gray-icon {
  color: gray;
}

/* 设置a标签hover透明 */
a:hover {
  opacity: 0.85;
}

/* logo css */
#logo {
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}

/* cloud css */
/* 小于570px,不显示云 */
@media screen and (min-width: 570px) {
  .cloud {
    height: 110px;
  } 
  #cloud1 {
    vertical-align: bottom;
    animation: fadeInLeft 2s 0s 1;
  }
  #cloud2{
    animation: fadeInRight 2s 0s 1;
  }
}
@media screen and (max-width: 570px) {
  .cloud {
    display: none;
  }
}

@keyframes fadeInLeft {
  0% { 
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fadeInRight {
  0% { 
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* 解决文本移除 */
p {
  overflow-wrap: break-word;
}

/* 自定义list */
.list {
  margin-bottom: 1rem;
  border-bottom: 1px dashed #e9e9e9;
  padding-top: 16px;
  padding-bottom: 16px;
}
.list p {
  color: #999;
}
.list .title {
  color: #4f4f4f;
  font-size: 1.4rem;

}



/* 设置ul样式 */
.markdown-body ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.markdown-body ul ul, ol ul {
  list-style-type: circle;
}

.markdown-body p {
  text-align: justify;
}

.comments-area {
  border: 1px solid #999;
  border-radius: 10px;
  
}

.container-h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}